@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
    url('fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
}

body {
    font-family: 'open_sansregular', Times, serif;
    color: #F2F4F3;
}

a {
    text-decoration: none;
    color: #F2F4F3;
}

.index-main {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    /*background-color: #846267;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.navbar {
    width: 100%;
    height: 56px;
    background-color: #071013;
    text-align: center;
    margin: auto;

}

.navbar-content {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: left;
}

.navbar-content a {
    font-size: 24px;
}

.navbar-content a:hover {
    color: #e7e7e7;
    text-decoration: underline;

}

@media only screen and (max-width: 600px) {
    .navbar-content .nav-list {
        display: none;
    }
}

.nav-list {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    margin: 0 0 0 68px;
    text-align: right;
    float: left;
    width: calc(100% - 68px);
    padding: 0;
}

.nav-list li {
    display: inline;
    margin-right: 24px;
    text-align: left;
    float: right;
}

.nav-list li:first-child {
    float: left;
}

.navbar-collapse {
    display: none;
}

@media only screen and (max-width: 600px) {
    .navbar-collapse {
        position: relative;
        transform: translateY(-50%);
        top: 50%;
        display: inline-block;
        width: 45px;
        height: 30px;
        margin-left: 5%;
        background: transparent url("../img/menu.png") no-repeat;
        cursor: pointer;
        background-size: contain;
    }
}

.navbar-collapse-content {
    background-color: #071013;
    display: none;
    box-shadow: 0 4px 16px 0 rgba(28, 28, 28, 1);
    position: absolute;
    width: 150px;
    height: auto;
    text-align: left;
    margin-top: 30px;
    cursor: auto;
}

.navbar-collapse-content ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 6px;
}

.navbar-collapse-content li {
    list-style-type: none;
    margin: 0 0;
    padding: 12px;
}

.navbar-collapse-content a {
    font-size: large;
    font-weight: bold;
    font-style: italic;
}

.navbar-collapse:hover .navbar-collapse-content {
    display: block;
}

.navbar-collapse-content--opened {
    display: block;
}

.navbar-logo {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    background-image: url("../img/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    margin: 0 10px 0 10px;
}

@media only screen and (max-width: 600px) {
    .navbar-logo {
        float: right;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.wrapper-content {
    margin-top: 40px;
    min-height: calc(100vh - 156px);
}


.content {
    /*box-shadow: 0 8px 16px 0 rgba(28, 28, 28, 1);*/
    background-color: #071013;
    width: 90%;
    display: flex;
    margin: auto;
    font-weight: bolder;
    border-top: #ffffff solid 2px;

}

.content-header {
    margin-top: 20px;
    text-align: center;
    background-color: #000000;
}

.content a {
    display: contents;
}

.content a .content-forum:hover {
    background-color: #1f1f1f;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .content {
        width: 100%;
    }
}

.content-forum {
    flex: 1 1 150px;
    padding: 15px;
}

.content-posts {
    flex: 0 1 120px;
    padding: 15px;
}

.content-last-post {
    flex: 0 1 200px;
    padding: 15px;
    word-break: break-all;
}

footer {
    margin-top: 0; /* take available whitespace */
    margin-bottom: -10px;      /* remove bottom whitespace */
    height: 60px;
}

.cfooter {
    width: 100%;
    height: 100%;
    background-color: #071013;
}



