@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
    url('fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
}

body {
    font-family: 'open_sansregular', Times, serif;
}

.index-main {
    /*background-image: url("https://wallpapers.com/images/featured-full/cat-g9rdx9uk2425fip2.jpg");*/
    /*background-size: cover;*/
    /*background-position: 50% 0;*/
    background-color: #B6D4ED;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar {
    width: 100%;
    height: 56px;
    background-color: #071013;
    text-align: center;
    margin: auto;

}

.navbar-content {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: left;
}

.navbar-content a {
    text-decoration: none;
    color: #E2EFF8;
    font-size: 24px;
}

.navbar-content a:hover {
    text-decoration: none;
    color: #fffefe;

}

@media only screen and (max-width: 600px) {
    .navbar-content .nav-list {
        display: none;
    }
}

.nav-list {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    margin: 0;
    text-align: right;
    width: auto;
    float: right;
    height: auto;
}

.nav-list li {
    display: inline;
    margin-left: 0;
    margin-right: 24px;
    text-align: left;
}

.navbar-collapse {
    display: none;
}

@media only screen and (max-width: 600px) {
    .navbar-collapse {
        position: relative;
        transform: translateY(-50%);
        top: 50%;
        display: inline-block;
        width: 45px;
        height: 30px;
        margin-left: 5%;
        background: transparent url("/img/menu.png") no-repeat;
        cursor: pointer;
        background-size: contain;
    }
}

.navbar-collapse-content {
    background-color: #071013;
    display: none;
    box-shadow: 0 4px 16px 0 rgba(28, 28, 28, 1);
    position: absolute;
    width: 150px;
    height: 200px;
    text-align: left;
    margin-top: 30px;
    cursor: auto;
}

.navbar-collapse-content ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 6px;
}

.navbar-collapse-content li {
    list-style-type: none;
    margin: 0 0;
    padding: 12px;
}

.navbar-collapse-content a {
    font-size: large;
    font-weight: bold;
    font-style: italic;
}

.navbar-collapse:hover .navbar-collapse-content {
    display: block;
}

.navbar-collapse-content--opened {
    display: block;
}

.navbar-logo {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    background-image: url("/img/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    margin: 0 10px 0 10px;
}
@media only screen and (max-width: 600px) {
    .navbar-logo {
        float: right;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    width: 75%;
    box-shadow: 0 8px 16px 0 rgba(28, 28, 28, 1);
    background-color: #E8EEF2;
    margin: auto;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .content {
        width: 100%;
    }
}

